.app-documents .form-group .dropdown-toggle
{
    height: 46px;
    padding-left: 20px;

    border-width: 1px 0 1px 1px;
    border-color: #e4eaec;
    background-color: #fff;
}

.app-documents .form-group .filter-option
{
    float: none !important;

    vertical-align: middle;
    text-overflow: ellipsis;
}

.app-documents .form-group .input-search-btn
{
    font-size: 20px;

    z-index: 4;
}

.app-documents .form-group .input-search-btn + .form-control
{
    height: 46px;
    padding: 8px 48px 8px 13px;

    border-radius: 0 4px 4px 0;
}

.app-documents .documents-wrap
{
    position: relative;

    margin-top: 25px;
    margin-bottom: 25px;
}

.app-documents .articles
{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px 20px 0;

    border-radius: .286rem;
    background-color: #fff;
}

.app-documents .articles .blocks > li
{
    margin-bottom: 50px;
}

.app-documents .articles-item
{
    position: relative;

    padding-left: 45px;
}

.app-documents .articles-item > .icon
{
    font-size: 25px;

    position: absolute;
    top: 0;
    left: 0;
}

.app-documents .articles-item a
{
    color: #76838f;
}

.app-documents .categories
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.app-documents .categories .blocks > li
{
    margin-bottom: 30px;
}

.app-documents .category
{
    height: 100%;
    padding: 30px;

    text-align: center;

    border-radius: .286rem;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.app-documents .category .icon-wrap > .icon
{
    font-size: 65px;
}

.app-documents .article::after
{
    display: block;
    clear: both;

    content: '';
}

.app-documents .article-sidebar,
.app-documents .article-content
{
    float: left;

    border-radius: .286rem;
    background-color: #fff;
}

.app-documents .sticky
{
    position: -webkit-sticky;
    position:         sticky;
    top: 86px;
}

.app-documents .article-sidebar
{
    width: 260px;
    margin-bottom: 30px;
    padding: 20px 15px;
}

.app-documents .article-sidebar .list-group
{
    margin-bottom: 0;
}

.app-documents .article-sidebar .list-group .list-group
{
    display: none;
}

.app-documents .article-sidebar .list-group-item
{
    margin-bottom: 1px;
    padding: 0;

    border: none;
}

.app-documents .article-sidebar .list-group-item a
{
    font-weight: 300;

    display: block;
    overflow: hidden;

    padding: 10px 15px;

    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;

    color: #76838f;

    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
}

.app-documents .article-sidebar .list-group-item a:hover,
.app-documents .article-sidebar .list-group-item a:focus
{
    color: #76838f;
    background-color: #f3f7f9;
}

.app-documents .article-sidebar .list-group-item a + .list-group
{
    margin-top: 1px;
}

.app-documents .article-sidebar .list-group-item a.dropdown-toggle:after
{
    display: none;
}

.app-documents .article-sidebar .list-group-item .active
{
    color: #62a8ea;
    background-color: #f3f7f9;
}

.app-documents .article-sidebar .list-group-item .active ~ .dropdown-menu
{
    position: relative;
    top: 0;

    display: block;
    float: none;

    padding: 0;

    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;

    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
}

.app-documents .article-sidebar .list-group-item .active ~ .dropdown-menu .dropdown-item
{
    width: 100%;
    margin: 1px 0;
    padding-left: 25px;
}

.app-documents .article-sidebar .list-group-item .list-group-item > a
{
    padding-left: 25px;
}

.app-documents .article-content
{
    width: -webkit-calc(100% - 290px);
    width:         calc(100% - 290px);
    margin-left: 30px;
    padding: 20px 30px;
}

.app-documents .article-content section
{
    margin-bottom: 22px;
}

.app-documents .article-footer
{
    font-size: 24px;

    padding: 30px;

    border-radius: .286rem;
    background-color: #f3f7f9;
}

.app-documents .article-footer::after
{
    display: block;
    clear: both;

    content: '';
}

.app-documents .article-footer-actions
{
    float: right;
}

@media (max-width: 767px)
{
    .app-documents .bootstrap-select:not([class*='col-']):not([class*='form-control']):not(.input-group-btn)
    {
        width: 200px;
    }
    .app-documents .article-sidebar,
    .app-documents .article-content
    {
        width: 100%;
        margin-left: 0;
    }
    .app-documents .article-sidebar.sticky
    {
        position: relative;
        top: 0;
    }
}

@media (max-width: 767px)
{
    .app-documents .bootstrap-select:not([class*='col-']):not([class*='form-control']):not(.input-group-btn)
    {
        width: 100px;
    }
}
