<div class="site-menubar">
    <div class="site-menubar-header">
        <div class="cover overlay">
            <img class="cover-image" src="/assets/photos/placeholder.png"
                 alt="...">
            <div class="overlay-panel vertical-align overlay-background">
                <div class="vertical-align-middle">
                    <a class="avatar avatar-lg" href="javascript:void(0)">
                        <img src="/assets/avatars/6.png" alt="">
                    </a>
                    <div class="site-menubar-info">
                        <h5 class="site-menubar-user">
                            <span>{{authService.getUser().first_name+" "+authService.getUser().last_name}}</span> &nbsp;
                            <span></span>
                        </h5>
                        <p class="site-menubar-email">{{authService.getUser().email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-menubar-body">
        <div>
            <ul class="site-menu" data-plugin="menu">
                <li ng-if="authService.getUser().role === 'manager'" class="site-menu-item ">
                    <a ui-sref="project-center">
                        <i class="site-menu-icon wb-layout"></i>
                        <span class="site-menu-title"> Project Center </span>
                    </a>
                </li>
                <li ng-if="authService.getUser().role === 'manager'" class="site-menu-item">
                    <a ui-sref="codebook">
                        <i class="site-menu-icon wb-book"></i>
                        <span class="site-menu-title">Code Book</span>
                    </a>
                </li>
                <li class="site-menu-item">
                    <a ui-sref="assignments">
                        <i class="site-menu-icon wb-pencil"></i>
                        <span class="site-menu-title">My Assignments</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>