---
title: Assignments
body_class: app-work
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{assets}}/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="{{assets}}/vendor/chartist/chartist.css">
    <link rel="stylesheet" href="{{assets}}/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="{{assets}}/vendor/jquery-selective/jquery-selective.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/assignments2.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{assets}}/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="{{assets}}/vendor/chartist/chartist.min.js"></script>
    <script src="{{assets}}/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js"></script>
    <script src="{{assets}}/vendor/jquery-selective/jquery-selective.min.js"></script>
    <script src="{{assets}}/vendor/aspaginator/jquery.asPaginator.min.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Plugin/aspaginator.js"></script>
  {{/content}}

  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/assignments.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-content">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">ASSIGNMENT LIST</h3>
            <form class="panel-search-form" role="search">
              <div class="input-search">
                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Search List">
                <i onclick="loadAssignments()" class="icon wb-loop"></i>
              </div>
            </form>

            <ul class="panel-info">
              <li>
                <div class="num red-600">[23]</div>
                <p>Conflicts</p>
              </li>
              <li>
                <div data-numassignments class="num orange-600">[8]</div>
                <p>Active</p>
              </li>
              <li>
                <div class="num green-600">[5]</div>
                <p>Completed</p>
              </li>
            </ul>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Paper</th>
                  <th>Progress</th>
                  <th>Project</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="templateOutlet">
                <!-- Dynamic -->
              </tbody>
                <template id="assignmentTemplate">
                  <tr>
                    <td class="work-status">
                      <span data-status class="badge badge-primary">Active</span>
                    </td>
                    <td class="subject">
                      <div class="table-content">
                        <p data-papername class="blue-grey-500">Lorem ipsum dolor sit amet,consectetur adipsicing elit</p>
                        <span data-papermeta class="blue-grey-400">11/08/2017</span>
                        <span class="badge badge-sm badge-primary">Recruiting</span>
                      </div>
                    </td>
                    <td class="work-progress">
                      <div class="progress progress-xs table-content">
                        <div data-progress class="progress-bar progress-bar-primary progress-bar-indicating" role="progressbar"> </div>
                      </div>
                      <span data-progresstext >90%</span>
                    </td>
                    <td class="subject">
                      <div class="table-content">
                        <p data-studyname class="blue-grey-500">[Murine Rigor]</p>
                        <span data-studymeta class="blue-grey-400">11/08/2017</span>
                      </div>
                    </td>
                    <td class="subject">
                      <button data-button onclick="load( this )" type="button" class="btn btn-animate btn-animate-vertical btn-success">
                    <span><i class="icon wb-play" aria-hidden="true"></i>
                      Continue
                    </span>
                      </button>
                    </td>
                  </tr>
                </template>
            </table>
          </div>
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}