---
title: Dashboard
body_class: dashboard
---

{{#extend "layout-default"}}

{{#content "scripts" mode="replace"}}
<script src="{{assets}}/examples/js/assignments.js"></script>
{{/content}}


{{#content "body"}}

<!-- Page -->
<div class="page">
    <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
            <div class="col-12">
                <!-- Countries Vists Card -->
                <div id="countriesVistsWidget" class="card card-shadow card-md">
                    <div class="card-header card-header-transparent pb-15">
                        <p class="font-size-14 blue-grey-700 mb-0">MY ASSIGNMENTS</p>
                    </div>
                    <div class="card-block px-30 pt-0">
                        <div class="table-responsive">
                            <table class="table table-analytics mb-0 text-nowrap">
                                <thead>
                                <tr>
                                    <th class="language">Paper</th>
                                    <th class="vists-percent">Completion</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <template id="assignmentRow">
                                        <tr>
                                            <td width="45%">
                                                <img src="https://image.flaticon.com/icons/svg/129/129515.svg" width="50px">
                                                <span class="paper">
                                                    <!-- Dynamic -->
                                                </span>
                                            </td>
                                            <td width="45%">
                                                <div class="progress progress-lg">
                                                    <div class="completion progress-bar progress-bar-danger" style="width: 60%;" role="progressbar">60%</div>
                                                </div>
                                            </td>
                                            <td width="10%">
                                                <button onclick="loadAssignment( this )" type="button" class="btn btn-block btn-primary">Continue</button>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End Countries Vists Card -->
            </div>
        </div>
    </div>
</div>
<!-- End Page -->

{{/content}}
{{/extend}}


