---
title: Code Book
body_class: page-faq
---

{{#extend "layout-default"}}

{{#content "fonts" mode="prepend"}}
<link rel="stylesheet" href="{{assets}}/fonts/font-awesome/font-awesome.css">
{{/content}}

{{#content "css" mode="prepend"}}
<link rel="stylesheet" href="{{assets}}/examples/css/uikit/dropdowns.css">
{{/content}}

{{#content "scripts" mode="replace"}}
<script src="{{assets}}/examples/js/codebook.js"></script>
{{/content}}

{{#content "body"}}

<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">Code Book</h1>
    </div>

    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-4">
                <!-- Panel -->
                <div class="panel">
                    <div class="panel-body">
                        <template id="domainTab">
                            <a class="list-group-item" data-toggle="tab" href="domain-id-here"
                               aria-controls="category-2"
                               role="tab">
                                <i class="icon"></i>
                                <span class="domain-name"></span>
                            </a>
                        </template>
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="projectDropdown"
                                    data-toggle="dropdown" aria-expanded="false">Murine Rigor</button>
                            <div id="projectDropdownOutlet" class="dropdown-menu dropdown-menu-primary" aria-labelledby="projectDropdown" role="menu">
                                <!-- Dynamic -->
                            </div>
                            <template id="projectDropdownItemTemplate">
                                <a onclick="openProject( this )"
                                   class="dropdown-item" href="javascript:void(0)" role="menuitem"> [Project Name] </a>
                            </template>
                        </div>
                        <hr>
                        <div class="list-group faq-list" role="tablist" id="domainTabs">
                        </div>
                    </div>
                </div>
                <!-- End Panel -->
            </div>

            <div class="col-xl-9 col-md-8">
                <!-- Panel -->
                <div class="panel">
                    <div class="panel-body">
                        <template id="domain-block">
                            <div class="tab-pane animation-fade" id="domain_name_here" role="tabpanel">
                                <!-- One of these for every domain -->
                                <div class="panel-group panel-group-simple panel-group-continuous"
                                     aria-multiselectable="true" role="tablist">

                                </div>
                            </div>
                        </template>
                        <template id="variable">
                                <!-- Question 4 -->
                                <div class="panel">
                                    <div class="panel-heading" id="var_name_here" role="tab">
                                        <a class="panel-title" aria-controls="answer-4" aria-expanded="false"
                                           data-toggle="collapse"
                                           href="#answer-4" data-parent="#accordion2">
                                            <i class="icon"></i>
                                            <span class="var-name"></span>
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="answer-4" aria-labelledby="question-4"
                                         role="tabpanel">
                                        <div class="panel-body">
                                            Variable description here
                                        </div>
                                    </div>
                                </div>
                                <!-- End Question 4 -->
                            </template>
                        <div class="tab-content">
                            <!-- Dynamic -->
                        </div>
                    </div>
                </div>
                <!-- End Panel -->
            </div>
        </div>
    </div>
</div>
<!-- End Page -->

{{/content}}
{{/extend}}