---
title: Code Book
body_class: page-faq
---

{{#extend "layout-default"}}

{{#content "fonts" mode="prepend"}}
<link rel="stylesheet" href="{{assets}}/fonts/font-awesome/font-awesome.css">
{{/content}}

{{#content "css" mode="prepend"}}
<link rel="stylesheet" href="{{assets}}/examples/css/uikit/dropdowns.css">
{{/content}}

{{#content "js_vendor" mode="append"}}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
{{/content}}

{{#content "scripts" mode="append"}}
<script src="{{html}}../app/codebook/codebook.module.js"></script>
<script src="{{html}}../app/codebook/codebook.controller.js"></script>
{{/content}}

{{#content "body"}}

<!-- Page -->
<div class="page" ng-app="codebook" ng-controller="CodebookController">
    <div class="page-header">
        <h1 class="page-title">Code Book</h1>
    </div>

    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-4">
                <!-- Panel -->
                <div class="panel">
                    <div class="panel-body">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="projectDropdown"
                                    data-toggle="dropdown" aria-expanded="false">
                                <span ng-bind="selectedProject.project.name"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-primary" aria-labelledby="projectDropdown" role="menu">
                                <a ng-repeat="project in projects"
                                   class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                    <span ng-bind="project.project.name"></span>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="list-group faq-list" role="tablist">
                            <a ng-repeat="domain in selectedProject.structure"
                               ng-click="selectDomain( domain )"
                               href=""
                               class="list-group-item" data-toggle="tab"
                               aria-controls="category-2"
                               role="tab">
                                <i class="icon {[{domain.icon}]}"></i>
                                <span ng-bind="domain.name"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Panel -->
            </div>

            <div class="col-xl-9 col-md-8">
                <!-- Panel -->
                <div class="panel">
                    <div class="panel-body">
                        <div class="tab-content">
                            <!-- Categroy 1 -->
                            <div class=" tab-pane animation-fade active" id="category-1" role="tabpanel">
                                <div class="panel-group panel-group-simple panel-group-continuous" id="accordion2"
                                     aria-multiselectable="true" role="tablist">
                                    <!-- Question 1 -->
                                    <div ng-repeat="question in selectedDomain.variables" class="panel">
                                        <div class="panel-heading" id="question-1" role="tab">
                                            <a class="panel-title" aria-controls="panel-{[{question._key}]}" aria-expanded="false" data-toggle="collapse"
                                               href="#panel-{[{question._key}]}" onclick="return void(0)" data-parent="#accordion2">
                                                <i class="icon {[{question.icon}]}"></i>
                                                <span ng-bind="question.name"></span>
                                                <small class="ml-15"> {[{question.tooltip}]} </small>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse in" id="panel-{[{question._key}]}" aria-labelledby="question-1"
                                             role="tabpanel">
                                            <div class="panel-body">
                                                <span ng-bind="question.question"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 1 -->
                                </div>
                            </div>
                            <!-- End Categroy 1 -->
                        </div>
                    </div>
                </div>
                <!-- End Panel -->
            </div>
        </div>
    </div>
</div>
<!-- End Page -->

{{/content}}
{{/extend}}