---
title: Conflict Report
---

{{#extend "layout-default"}}

{{#content "fonts" mode="prepend"}}
<link rel="stylesheet" href="{{assets}}/fonts/font-awesome/font-awesome.css">
{{/content}}

{{#content "scripts" mode="replace"}}
<script src="{{assets}}/examples/js/conflicts.js"></script>
{{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-content">
        <h2>A high-fat diet supplemented with fish oil improves metabolic features associated with type 2 diabetes</h2>
        <p> Encoding Report </p>


        <div class="page-content">
          <!-- Panle List -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Responses</h3>
            </div>
            <div class="panel-body container-fluid">
              <div class="row row-lg" id="question-wrapper">
                  <template id="question-template">
                    <div class="col-md-6 col-xl-4">
                      <div class="example-wrap m-lg-0">
                        <h4 data-question-name class="example-title"> Question Name </h4>
                        <!--<p data-question-description> </p>-->
                        <ul data-response-ul class="list-group list-group-full">
                          <!-- Dynamic Content -->
                        </ul>
                      </div>
                    </div>
                  </template>
                  <template id="question-response-li">
                    <li class="list-group-item">
                      <div class="media">
                        <div class="pr-20">
                          <i class="icon fa fa-caret-right"></i>
                        </div>
                        <div class="media-body">
                          <h5 data-response-content class="mt-0 mb-5"> Response </h5>
                          <small data-response-users > user1, user2, user3 </small>
                        </div>
                      </div>
                    </li>
                  </template>
              </div>
            </div>
          </div>
          <!-- End Panle List -->
        </div>
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}