<ul class="site-menu" data-plugin="menu">
    <li class="bdManagerOnly site-menu-item {{#active 'project-center'}} active open{{/active}}">
        <a href="{{html}}project-center.html">
            <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
            <span class="site-menu-title"> Project Center </span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'codebook'}} active open{{/active}}">
        <a href="{{html}}codebook.html">
            <i class="site-menu-icon wb-book" aria-hidden="true"></i>
            <span class="site-menu-title">Code Book</span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'assignments'}} active open{{/active}}">
        <a href="{{html}}assignments.html">
            <i class="site-menu-icon wb-pencil" aria-hidden="true"></i>
            <span class="site-menu-title">My Assignments</span>
        </a>
    </li>
</ul>