<div class="site-menubar-header">
  <div class="cover overlay">
    <img class="cover-image" src="{{assets}}//examples/images/dashboard-header.jpg"
      alt="...">
    <div class="overlay-panel vertical-align overlay-background">
      <div class="vertical-align-middle">
        <a class="avatar avatar-lg" href="javascript:void(0)">
          <img src="{{assets}}/avatars/6.png" alt="">
        </a>
        <div class="site-menubar-info">
          <h5 class="site-menubar-user">
              <span class="bdFirstName"></span> &nbsp; <span class="bdLastName"></span>
          </h5>
          <p class="bdEmail" class="site-menubar-email">chris@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>