<div class="site-menubar">
    <div class="site-menubar-header">
        <div class="cover overlay">
            <img class="cover-image" src="/assets/examples/images/dashboard-header.jpg"
                 alt="...">
            <div class="overlay-panel vertical-align overlay-background">
                <div class="vertical-align-middle">
                    <a class="avatar avatar-lg" href="javascript:void(0)">
                        <img src="/assets/avatars/6.png" alt="">
                    </a>
                    <div class="site-menubar-info">
                        <h5 class="site-menubar-user">
                            <span class="bdFirstName"></span> &nbsp;
                            <span class="bdLastName"></span>
                        </h5>
                        <p class="bdEmail site-menubar-email">[email]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-menubar-body">
        <div>
            <ul class="site-menu" data-plugin="menu">
                <li class="bdManagerOnly site-menu-item ">
                    <a href="/project-center.php">
                        <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                        <span class="site-menu-title"> Project Center </span>
                    </a>
                </li>
                <li class="site-menu-item ">
                    <a href="/codebook.php">
                        <i class="site-menu-icon wb-book" aria-hidden="true"></i>
                        <span class="site-menu-title">Code Book</span>
                    </a>
                </li>
                <li class="site-menu-item ">
                    <a href="/assignments.php">
                        <i class="site-menu-icon wb-pencil" aria-hidden="true"></i>
                        <span class="site-menu-title">My Assignments</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>