---
title: Research Coder
---

{{#extend "layout-default"}}

{{#content "body"}}

<!-- Page -->
<div class="page">
    <div class="page-content container-fluid">
        <script>
            if( localStorage.user ){
                var user = JSON.parse( localStorage.user );
                if( user.role == "manager" ) window.location = "project-center.html";
                window.location = "assignments.html";
            } else {
                window.location = "login.html";
            }
        </script>
    </div>
</div>
<!-- End Page -->

{{/content}}
{{/extend}}