<li class="list-group-item" ng-show="isAlive()" style="cursor: pointer">
    <button ng-show="edit" ng-click="toggleScope(fieldObject._key)"
            type="button" class="btn btn-icon btn-xs btn-warning btn-outline btn-round mr-10 float-left">
        <i class="md md-swap" aria-hidden="true"></i></button>
    <div ng-click="editMe()">
        <i class="icon {{fieldObject.icon}}" aria-hidden="true" ng-hide="edit"></i>
        {{fieldObject.name}} &nbsp; : &nbsp; <code>{{generatePreview()}}</code>
    </div>
</li>
