<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">
  <title>Menubar Open | Big Data UAB</title>
  <link rel="apple-touch-icon" href="..\..\assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="..\..\assets/images/favicon.ico">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="..\..\assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="..\..\assets/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="..\..\assets/css/site.min.css">
  <!--<link rel="stylesheet" href="..\..\assets/skins/green.css">-->
  <!-- Plugins -->
  <link rel="stylesheet" href="..\..\assets/vendor/animsition/animsition.css">
  <link rel="stylesheet" href="..\..\assets/vendor/asscrollable/asScrollable.css">
  <link rel="stylesheet" href="..\..\assets/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="..\..\assets/vendor/intro-js/introjs.css">
  <link rel="stylesheet" href="..\..\assets/vendor/slidepanel/slidePanel.css">
  <link rel="stylesheet" href="..\..\assets/vendor/flag-icon-css/flag-icon.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="..\..\assets/fonts/web-icons/web-icons.min.css">
  <link rel="stylesheet" href="..\..\assets/fonts/brand-icons/brand-icons.min.css">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
  <!--[if lt IE 9]>
    <script src="..\..\assets/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
  <!--[if lt IE 10]>
    <script src="..\..\assets/vendor/media-match/media.match.min.js"></script>
    <script src="..\..\assets/vendor/respond/respond.min.js"></script>
    <![endif]-->
  <!-- Scripts -->
  <script src="..\..\assets/vendor/breakpoints/breakpoints.js"></script>
  <script>
  Breakpoints();
  </script>
</head>
<body class="animsition site-menubar-open site-menubar-fixed">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <nav class="site-navbar navbar navbar-default navbar-inverse navbar-fixed-top navbar-mega"
  role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon wb-more-horizontal" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        <img class="navbar-brand-logo" src="..\..\assets/images/logo.png" title="Remark">
      </div>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
      data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon wb-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="nav-item hidden-float" id="toggleMenubar">
            <a class="nav-link" data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <li class="nav-item hidden-sm-down" id="toggleFullscreen">
            <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
              <span class="sr-only">Toggle fullscreen</span>
            </a>
          </li>
          <li class="nav-item hidden-float">
            <a class="nav-link icon wb-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
            role="button">
              <span class="sr-only">Toggle Search</span>
            </a>
          </li>
        </ul>
        <!-- End Navbar Toolbar -->
        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
            data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="http://chrisroc.co/SHARED/headshot.jpg" alt="...">
                <i></i>
              </span>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-payment" aria-hidden="true"></i> Billing</a>
              <div class="dropdown-divider" role="presentation"></div>
              <a class="dropdown-item" href="javascript:AuthService.logout(); window.location='login.html'"
              role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
            aria-expanded="false" data-animation="scale-up" role="button">
              <i class="icon wb-bell" aria-hidden="true"></i>
              <span class="badge badge-pill badge-danger up">5</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
              <div class="dropdown-menu-header">
                <h5>NOTIFICATIONS</h5>
                <span class="badge badge-round badge-danger">New 5</span>
              </div>
              <div class="list-group">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">A new order has been placed</h6>
                          <time class="media-meta" datetime="2017-06-12T20:50:48+08:00">5 hours ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <i class="icon wb-user bg-green-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Completed the task</h6>
                          <time class="media-meta" datetime="2017-06-11T18:29:20+08:00">2 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <i class="icon wb-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Settings updated</h6>
                          <time class="media-meta" datetime="2017-06-11T14:05:00+08:00">2 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <i class="icon wb-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Event started</h6>
                          <time class="media-meta" datetime="2017-06-10T13:50:18+08:00">3 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <i class="icon wb-chat bg-orange-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Message received</h6>
                          <time class="media-meta" datetime="2017-06-10T12:34:48+08:00">3 days ago</time>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="dropdown-menu-footer">
                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                  <i class="icon md-settings" aria-hidden="true"></i>
                </a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    All notifications
                  </a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Messages"
            aria-expanded="false" data-animation="scale-up" role="button">
              <i class="icon wb-envelope" aria-hidden="true"></i>
              <span class="badge badge-pill badge-info up">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
              <div class="dropdown-menu-header" role="presentation">
                <h5>MESSAGES</h5>
                <span class="badge badge-round badge-info">New 3</span>
              </div>
              <div class="list-group" role="presentation">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <span class="avatar avatar-sm avatar-off">
                            <img src="..\..\assets/portraits/3.jpg" alt="..." />
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Caleb Richards</h6>
                          <div class="media-meta">
                            <time datetime="2017-06-17T12:30:30+08:00">12 hours ago</time>
                          </div>
                          <div class="media-detail">I checheck the document. But there seems</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <span class="avatar avatar-sm avatar-busy">
                            <img src="..\..\assets/portraits/4.jpg" alt="..." />
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">June Lane</h6>
                          <div class="media-meta">
                            <time datetime="2017-06-16T18:38:40+08:00">2 days ago</time>
                          </div>
                          <div class="media-detail">Lorem ipsum Id consectetur et minim</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="pr-10">
                          <span class="avatar avatar-sm avatar-away">
                            <img src="..\..\assets/portraits/5.jpg" alt="..." />
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Edward Fletcher</h6>
                          <div class="media-meta">
                            <time datetime="2017-06-15T20:34:48+08:00">3 days ago</time>
                          </div>
                          <div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="dropdown-menu-footer" role="presentation">
                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                  <i class="icon wb-settings" aria-hidden="true"></i>
                </a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    See all messages
                  </a>
              </div>
            </div>
          </li>
          <li class="nav-item" id="toggleChat">
            <a class="nav-link" data-toggle="site-sidebar" href="javascript:void(0)" title="Chat"
            data-url="..\site-sidebar.tpl">
              <i class="icon wb-chat" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <!-- End Navbar Toolbar Right -->
        <div class="navbar-brand navbar-brand-center">
          <a href="..\index.html">
            <img class="navbar-brand-logo" src="..\..\assets/images/UAB-logo-white.png" title="Remark">
          </a>
        </div>
      </div>
      <!-- End Navbar Collapse -->
      <!-- Site Navbar Seach -->
      <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="site-search" placeholder="Search...">
              <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Close"></button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
  <div class="site-menubar">
    <div class="site-menubar-header">
      <div class="cover overlay">
        <img class="cover-image" src="..\..\assets//examples/images/dashboard-header.jpg"
        alt="...">
        <div class="overlay-panel vertical-align overlay-background">
          <div class="vertical-align-middle">
            <a class="avatar avatar-lg" href="javascript:void(0)">
              <img src="http://chrisroc.co/SHARED/headshot.jpg" alt="">
            </a>
            <div class="site-menubar-info">
              <h5 class="site-menubar-user">Chris</h5>
              <p class="site-menubar-email">chris@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu" data-plugin="menu">
            <li class="site-menu-item ">
              <a href="index.html">
                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Landing</span>
              </a>
            </li>
            <li class="site-menu-item ">
              <a href="codebook.html">
                <i class="site-menu-icon wb-book" aria-hidden="true"></i>
                <span class="site-menu-title">Code Book</span>
              </a>
            </li>
            <li class="site-menu-item ">
              <a href="assignments.html">
                <i class="site-menu-icon wb-pencil" aria-hidden="true"></i>
                <span class="site-menu-title">My Assignments</span>
              </a>
            </li>
            <li class="site-menu-item ">
              <a href="paper-coder.html">
                <i class="site-menu-icon wb-file" aria-hidden="true"></i>
                <span class="site-menu-title">Paper Coder</span>
              </a>
            </li>
            <li class="site-menu-item ">
              <a href="define-study.html">
                <i class="site-menu-icon wb-user-add" aria-hidden="true"></i>
                <span class="site-menu-title"> Define Study </span>
              </a>
            </li>
            <li class="site-menu-item ">
              <a href="login.html">
                <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                <span class="site-menu-title"> Login </span>
              </a>
            </li>
            <li class="site-menu-item ">
              <a href="register.html">
                <i class="site-menu-icon wb-user-add" aria-hidden="true"></i>
                <span class="site-menu-title"> Register </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Page -->
  <div class="page">
    <div class="page-header">
      <h1 class="page-title">Menubar Open</h1>
    </div>
    <div class="page-content">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">DEMO CONTENT</h3>
        </div>
        <div class="panel-body">
          <p>Praeteritas patiatur habuit aptior torquem, claudicare discenda, habent
            accusamus commune. Eos dicat constituant, cedentem prima telos dissensio
            mererer adipiscuntur retinere explicari dicendum terentianus, arbitrium
            definitiones deduceret subtilius certa, postulant, tolerabiles quondam
            forensibus secutus dubitat insipientiam fuit mihi urbanitas, dicam
            utrumque sicut utilitas scribi nomine. Epicurum sol consentaneum stulti
            error illas atque gratia priventur, gravioribus sinit malit, extremum
            privavisse ornatus latina, d ullum abhorreant minuti latinas carere
            intus, nominata exercitationem suas molita verbis cogitemus reque ero,
            iustioribus maximis. Suavitate, malint eam quaerimus desideraturam
            quid coercendi laborum quando concludaturque, contemnentes infanti
            accedit, solent spatio gravissimas detracto respondendum, inciderit
            perdiderunt scribentur perfunctio. Vulgo iniurias, leviora officia
            emolumenti invenire cognosci conciliant chrysippe. Verentur quem efficeretur
            ostendit, institutionem copulatas perpetuis acute similia utraque grate
            libido, dissentias probo atomi utilitatibus soleat facere ignavi tuentur
            timiditatem moribus. Impediri error invenire facillime nihilo. Efficiatur
            apud procedat tale meminerunt liberemus nondum transferrem singulis,
            veri, loqueretur periculum tradidisse conclusionemque earumque magnum
            deterritum, triario pariant praeda debeo verborum, stoicis eam miserius
            oblivione urbane ancillae cruciantur egregios praeceptrice voluptaria,
            initia atomis avocent iniuria patientia, vivere corporum minuti doctiores,
            quaeso intellegentium videre tractat.</p>
          <p>Mens iniuria, ponderum convenire pariter torquatis recusandae id efficitur
            incurreret, emancipaverat asperner fugiendam inanitate etiam potitur,
            discordant incidunt manilium consuetudine o tota exercitus ponendam
            ecce cursu. Quaeque rebus liberae rationibus studium fames per, exhorrescere.
            Umbram perdiderunt. Geometria detractio impensa. Plerisque disciplinae
            locos is aegritudinem summum amicitias, tuo chrysippo platonem dicitur
            progrediens. Clamat, architecto sollicitant tale certe titillaret ingeniis
            doctrinis. Artem bonas leguntur memoriter oriantur. Displicet defuit
            fugiendum iucundius, declinabunt privamur solum. Audire obruamus augendas
            copulatas versatur nivem albuci quarum. Interiret nollem ornatum video.
            Corrupte quanti miser albam petentium parabilis utrumque, amaret putem
            putanda aegritudo sententiae loquuntur interiret, probamus statuerunt
            videretur detractis probarentur, exquirere putavisset, magis generis
            pertinax eveniunt. Sequi impetus reperietur sollicitare tranquillat,
            cognitio, liberamur praesenti utinam finitas omnisque reperiri facillime
            cura meliore, contumeliae graviter redeamus deserunt. Verissimum multa
            se reliquerunt torqueantur, notae aegritudines videre voluptaria atomorum
            iudicabit ea, arbitrer clamat agam homo ait, facilis natus patriam
            forte consequentium firmitatem voluptates perpessio, gravissimo. Paratus
            derepta nunc essent potuimus, tibique assidua peccandi apeirian fabellas,
            brevis inciderint, pervenias fidelissimae notionem deinde negent proprius
            dicemus torquatus, bonarum. Vim, accusator, desideraret suam interdictum
            severa.</p>
          <p>Egregios corrumpit durissimis chrysippe quidque, emolumenti dixisset
            temporis ulla docui, gravitate provincia pueros necessariam, plurimum
            quando eitam aeternum administrari. Iisque animadvertat omnia. Emolumenti
            incorruptis volunt consecutus inanitate significet idcirco. Coniunctione
            malle placet angatur possint, dixit utraque nescius, voce pueri morati
            sanguinem fastidii, praetore habeatur sive. Primisque velit emancipaverat
            quaerendum. Efficerent, accusantibus servare bonum adolescens conferebamus
            totum, graviter pendet diuturnum inpotenti perpetua placet. Fit reprehendunt
            dixisset sive apte sentit fruuntur voce, adolescens, nemini statuerunt
            sola videatur multos timeam operosam nosmet earum. Patria expectamus
            quantaque pendet probamus, oculis praetore praesentium obruamus firmissima,
            partem. Quasi artis cumanum diceretur sero eius eidola, errem assidua
            numeranda sublata captiosa adversarium segnitiae publicam licet. Via
            incurrunt locos, divinum utroque haeret bestiae amplificarique disciplinis
            maestitiam, detraxisse, disputationi tueri manum conspectum optime
            miraretur puerilis easque, iucunditatem laudantium, antiqua tranquillat
            adipiscendarum athenis defendit collegisti utuntur bello iracundiae
            imitarentur, laborum beatus sitne salutatus genuit, malarum excruciant
            defuit unde perpaulum partem praesenti consul disputari sumitur. Queo
            aristippus antiquis praetermittatur offendimur, explentur amputata
            videre quaedam, effugiendorum tempore industriae, quantaque, qui magnam
            liberos earumque explicari corpora pater senectutem. Existimavit excruciant
            mox tantopere fuissent tamque.</p>
          <p>Diligant. Reliquisti video torquentur excelsus ille, aliquid rutilius,
            dicunt sic, maximasque deteriora hinc simplicem, consequentium, magnis,
            statuat dare suspicor explicatis fortasse reprehendunt quaerimus ullius,
            oportere sabinum pertinerent una laetetur. Virtutum adquiescere expectamus
            putem adquiescere persius incidant. Intellegi ortum. Repudiandae audita
            ob. Pugnantibus. Corrupte. Torqueantur placeat faciam maluisset tritani
            susciperet sciscat, ponunt pertinaces legendus, impetus atomi hausta,
            que, aequo fatemur. Cursu platonem saluti sanciret nondum legimus afficitur
            adipiscuntur. Chorusque stoicis otiosum partus praesens oblivione efficeretur.
            Nobis confidet utroque. Possimus artes arbitrer volumus haec importari
            siculis, statua sine, suscipere feci tertio nimium consule idem consule,
            domo negat quin vacillare interesse transferre omnisque ignavia interesset,
            duce cupiditate expetendas manus reddidisti dividendo primo firmam
            fugiendis effecerit. Optinere ullum nutu sinit, voluptati scientiam
            elaborare motum stultorum senectutem sero totus prompta. Ponendam nos
            parvam dixeris corporis fortibus suspicio usus posset, consoletur iudiciorumque
            diogenem cupiditatum utinam familiaritatem athenis comit, philosopho
            ab expectata intelleges primus modice domo, voce sicine agatur everti
            perspecta eitam erudito disciplina acute, contineri philosophia nescio
            nollem, assumenda quoquo sed id, habeatur, amori auctori ineruditus
            intellegunt numen bonae hic expressas corpore, nutu nesciunt augeri
            quosvis.</p>
          <p>Permulta negant iudicem physico recteque nascuntur probabis modis atqui
            imperii, sin eas iustitia isti diuturnitatem sentio venisset, philosophari
            romanum sedatio filio, statuam perspici morborum diligant integre comprobavit
            insequitur. Dediti morbi altera philosophi naturam consistat huc. Magnam.
            Aliquo tollitur habent macedonum, incidunt inveniri ludicra, sedulitatem
            conclusum voluerint tam debilitati, voluptaria quando geometriaque
            interrogari, indignae l debet proposita. Aristotele pleniorem noctesque
            minima seiunctum, verear priventur iucunda sedulitatem fortitudo molestia
            distinctio libenter ultima, iustioribus terentianus re multavit mollitia
            operosam ait. Ipsis, tranquillitatem perfunctio tibi alia torquatis
            l mortem mnesarchum graece umbram, solitudo utamur dialectica logikh
            delectari cupiditate consequentium celeritas putarent intellegimus,
            virtutibus afficitur. Consedit morbis dolore interesset eadem, horum
            tantalo flagitem eligendi albuci, doctissimos intemperantiam ordiamur
            poetis privatione hominum te macedonum, satis propemodum audita magnitudinem
            partes gravissimis, magnam parabilis ponit, animumque imbutus ne dicenda,
            firmitatem quae statuat dolores concupiscunt ibidem didicisse fugiendam,
            totus humili sale chorusque quid, gravissimo officia praetulerit, aperiam
            summo operosam adipisci porro omnino probarent, meo necessitatibus
            metuque inane, latinam ab amicitiae ei existunt virtus ipsi sensuum.
            Isdem temperantia constituit fuga naturalem desistunt referenda tenuit
            unam, animum expectata singulis doctiores.
          </p>
          <p>Allevatio copiosae huc fugiendum ignota assentior choro, torqueantur
            seditiones dissensio terentii quas vitae, interiret tali explicavi
            earumque verentur expectata, ferrentur desiderent venisset, habeatur.
            Inquit, aetatis perspecta quisque pacuvii assentiar iucunda libro omnis.
            Quidque numen torquatos percurri duce vetuit scientia. Declinare finiri
            hinc ponendam suscipiantur gratissimo eloquentiam nutu, urbane peccant,
            filio, divinum libidinibus perturbari hortatore explicatam meque comparandae
            maius horribiles dulce, mutae locos primos animus tractatos eligendi
            discordans status constituam materia. Iustius videmus odit praebeat
            inprobitatem numeris reiciat, miserum concedo facere miserum theseo
            easque epularum, erant, putat hostem denique, emancipaverat hosti amicorum
            adolescens malint dicta bona fautrices municipem, inpendente detractio
            declinabunt cives fecisse fuissent copulatas excruciant modi firmissimum,
            dictum sollicitare retinere elaborare opes aeque imperitorum necessariae
            facerem, sabinum possimus utrum sanciret exquirere sentiri efficeretur
            sensum, pertinerent consumere ignorant, incurrunt concordia quaeritur,
            municipem magnitudinem contineret cupiditatibus falso convicia, simulent
            labefactant fruuntur disciplinam exeamus. Meminerimus atomus aequo
            conficiuntur robustus etsi phaedrum causa recusandae. Ero stabilitas
            arguerent utilitate interpretaris. Notae effecerit praetulerit inciderit.
            Credere nemo cedentem recusandae hinc notissima declinatio, perpetuis
            pertinacia legendis fidelissimae invenerit, uterque zenonem fautrices
            vellem personae, evertitur malorum viam summam.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <footer class="site-footer">
    <div class="site-footer-legal">© 2017 <a href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Big Data</a></div>
    <div class="site-footer-right">
      Website by by <a href="http://themeforest.net/user/amazingSurge">Chris Rocco</a>
    </div>
  </footer>
  <!-- Core  -->
  <script src="..\..\assets/vendor/babel-external-helpers/babel-external-helpers.js"></script>
  <script src="..\..\assets/vendor/jquery/jquery.js"></script>
  <script src="..\..\assets/vendor/tether/tether.js"></script>
  <script src="..\..\assets/vendor/bootstrap/bootstrap.js"></script>
  <script src="..\..\assets/vendor/animsition/animsition.js"></script>
  <script src="..\..\assets/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="..\..\assets/vendor/asscrollbar/jquery-asScrollbar.js"></script>
  <script src="..\..\assets/vendor/asscrollable/jquery-asScrollable.js"></script>
  <!-- Plugins -->
  <script src="..\..\assets/vendor/switchery/switchery.min.js"></script>
  <script src="..\..\assets/vendor/intro-js/intro.js"></script>
  <script src="..\..\assets/vendor/screenfull/screenfull.js"></script>
  <script src="..\..\assets/vendor/slidepanel/jquery-slidePanel.js"></script>
  <!-- Scripts -->
  <script src="..\..\assets/js/State.js"></script>
  <script src="..\..\assets/js/Component.js"></script>
  <script src="..\..\assets/js/Plugin.js"></script>
  <script src="..\..\assets/js/Base.js"></script>
  <script src="..\..\assets/js/Config.js"></script>
  <script src="..\..\assets/js/Section/Menubar.js"></script>
  <script src="..\..\assets/js/Section/Sidebar.js"></script>
  <script src="..\..\assets/js/Section/PageAside.js"></script>
  <script src="..\..\assets/js/Plugin/menu.js"></script>
  <!-- Providers -->
  <script src="..\..\assets/js/AuthService.js"></script>
  <script src="..\..\assets/js/DataService.js"></script>
  <!-- Config -->
  <script src="..\..\assets/js/config/colors.js"></script>
  <script src="..\..\assets/js/config/tour.js"></script>
  <script>
  Config.set('assets', '..\..\assets');
  </script>
  <!-- Page -->
  <script src="..\..\assets/js/Site.js"></script>
  <script src="..\..\assets/js/Plugin/asscrollable.js"></script>
  <script src="..\..\assets/js/Plugin/slidepanel.js"></script>
  <script src="..\..\assets/js/Plugin/switchery.js"></script>
  <script>
  (function(document, window, $) {
    'use strict';
    var Site = window.Site;
    $(document).ready(function() {
      Site.run();
    });
  })(document, window, jQuery);
  </script>
</body>
</html>