<div class="page">
    <div class="page-header">
        <h1 class="page-title">Code Book</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-4">
                <!-- Panel -->
                <div class="panel">
                    <div class="panel-body">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="projectDropdown"
                                    data-toggle="dropdown" aria-expanded="false">
                                <span ng-bind="selectedProject.project.name"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-primary" aria-labelledby="projectDropdown"
                                 role="menu">
                                <a ng-repeat="project in projects" ng-click="selectProject( project )"
                                   class="dropdown-item"
                                   href="javascript:void(0)" role="menuitem">
                                    <span ng-bind="project.project.name"></span>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="list-group faq-list" role="tablist">
                            <bd-domain-tag ng-repeat="domain in selectedProject.structure"
                                           domain="domain"></bd-domain-tag>
                        </div>
                    </div>
                </div>
                <!-- End Panel -->
            </div>
            <div class="col-xl-9 col-md-8">
                <!-- Questions Panel -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span ng-bind="selectedDomain.name"></span> Questions</h3>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <!-- Category 1 -->
                            <div class=" tab-pane animation-fade active" id="category-1" role="tabpanel">
                                <div class="panel-group panel-group-simple panel-group-continuous" id="accordion2" role="tablist">
                                    <bd-question-reference ng-repeat="question in selectedDomain.variables"
                                                           question="question"></bd-question-reference>
                                </div>
                            </div>
                            <!-- End Category 1 -->
                        </div>
                    </div>
                </div>
                <!-- End Questions Panel -->
                <!-- Subdomains Panel -->
                <bd-subdomain domain="selectedDomain" ng-if="selectedDomain.subdomains.length > 0"></bd-subdomain>
                <!-- End Subdomains Panel -->
            </div>
        </div>
    </div>
</div>