<!--<div class="form-group row">
	<label class="control-label col-xs-8 text-left">{[{field.label}]}</label>
	<div class="col-xs-4 text-right" ng-hide="readonly">
		<a class="btn" ng-click="field.disabled=true" ng-hide="field.disabled"><i
			class="fa fa-check-circle"></i></a> <a class="btn"
			ng-click="field.disabled=false" ng-show="field.disabled"><i
			class="fa fa-ban"></i></a>
	</div>
	<div class="col-xs-12">
		&lt;!&ndash; Dynamic Input Types &ndash;&gt;
		<div ng-include="getContentUrl()"></div>
	</div>
</div>-->

<div class="form-group form-material col-md-12">
	<label class="form-control-label" >{[{field.label}]}</label>
	<div ng-include="getContentUrl()"></div>
	<!--<input type="text" class="form-control" id="inputBasicFirstName" name="inputFirstName" placeholder="First Name" autocomplete="off">-->
</div>